body {
margin: 3mm;
padding:0;
font-family:Arial,sans-serif;
font-size: 18px;
line-height: 1.2;
}

h1 {
line-height:1.25;
margin:2mm 0 0;
}
p {
margin:.5cm 0;
}
#switcher {
list-style:none;
margin: 0;
padding: 0;
overflow:hidden;
}

#switcher li {
float:left;
width:30px;
height:30px;
margin: 0 15px 1px 0;
border-radius: 30px;
border: 3px solid black;
}


#graybutton {
background:gray;
}
#bluebutton {
background:blue;
}

#yellowbutton {
background:yellow;
}

#pinkbutton {
background:pink;
}